@font-face {
    font-family: 'Brasika';
    src: url("./fonts/BrasikaDisplay.woff") format('woff');
    src: url("./fonts/BrasikaDisplay.woff2") format('woff2')
}

a {
    font-family: 'Unbounded', cursive;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
}

/* SECCION NAV */

.header {
    align-items: start;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
}

.nav {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    position: relative;
}

.hamburger {
    display: flex;
    position: relative;
    color: white;
    scale: 150%;
    transition: background-color 0.3s ease;
    cursor: pointer;
    padding: 27px 0;
    margin: 0;
}

.nav-link {
    color: #ffffff;
    padding: 30px 15px;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

}

.nav-link:hover {
    background-size: 100% 2px;
}

.nav-logo {
    width: 10%;
    transition: scale .3s;
    transition: opacity .3s;
    min-width: 100px;
}

.nav-logo:hover {
    opacity: 75%;
    scale: 110%;
    cursor: pointer;
    transition: opacity .3s;
    transition: scale .3s;
}

.logo {
    width: 100%;
}

.menu {
    display: flex;
    font-size: 1em;
    list-style: none;
    padding: 20px 0;

}

.central-page {
    background-image: url("./assets/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
}

.title h1 {
    padding: 0;
    margin: 0;
}

.div-boton {
    display: flex;
    flex-direction: row;
}

.boton {
    width: 200px;
    height: 60px;
    padding: 10px;
    margin: 0 20px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(7px);
    border: 1px solid #ffffff;
    border-radius: 70px;
    text-decoration: none;
    color: white;
    transition: background-color .3s;
    position: relative;
    z-index: 0;
}

.boton:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    transition: background-color .3s;
}

.div-boton-conocer {
    transition: scale .3s;
}

.div-boton-playlist {
    transition: scale .3s;
}

.div-boton-conocer:hover {
    scale: 110%;
    transition: scale .3s;
}

.div-boton-playlist:hover {
    scale: 110%;
    transition: scale .3s;
}

/* SECCION SERIE */

.serie {
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: relative;
    border-radius: 20px;
    background-color: rgb(40, 40, 40);
    top: -20px
}

.div-serie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.div-img-serie {
    width: 300px;
    height: 100%;
    align-items: left;
    overflow: hidden;
    position: relative;
}

.img-serie {
    width: 90%;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #303030;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.img-serie:hover {
    box-shadow: 8px 8px 8px 1px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s ease;
    transform: rotate3d(1, 1, 0, 15deg);
    transition: transform .3s ease;
}

.div-text-serie {
    padding-left: 25px;
}

.ult-serie {
    font-size: 2em;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
}

.title-serie {
    font-family: 'Unbounded', cursive;
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 40px;
    margin-top: 10px;
}

.boton-ver-ahora {
    width: 200px;
    height: 60px;
    padding: 10px;
    margin: 0 0px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(7px);
    border: 1px solid #ffffff;
    border-radius: 70px;
    text-decoration: none;
    color: white;
    transition: background-color .3s;
}

.boton-ver-ahora:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    transition: background-color .3s;
}

.div-boton-ver-ahora {
    transition: scale .3s;
}

.div-boton-ver-ahora:hover {
    scale: 110%;
    transition: scale .3s;
}


/* SECCION PODCAST */

.div-title-podcast-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-podcast-general {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #ffffff;
    padding: 10px;
    width: 80%;
    font-family: 'Unbounded', cursive;

}

.podcast {
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: relative;
    border-radius: 20px;
    background-color: rgb(40, 40, 40);
    top: -20px
}

.div-podcast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div-img-podcast {
    width: 300px;
    height: 100%;
    align-items: left;
    overflow: hidden;
    position: relative;
}

.img-podcast {
    width: 90%;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #303030;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.img-podcast:hover {
    box-shadow: 8px 8px 8px 1px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s ease;
    transform: rotate3d(1, 1, 0, 15deg);
    transition: transform .3s ease;
}

.div-text-podcast {
    padding-left: 25px;
}

.ult-podcast {
    font-size: 2em;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
}

.title-podcast {
    font-family: 'Unbounded', cursive;
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 40px;
    margin-top: 10px;
}

.boton-escuchar-ahora {
    width: 200px;
    height: 60px;
    padding: 10px;
    margin: 0 0px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(7px);
    border: 1px solid #ffffff;
    border-radius: 70px;
    text-decoration: none;
    color: white;
    transition: background-color .3s;
}

.boton-escuchar-ahora:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    transition: background-color .3s;
}

.div-boton-escuchar-ahora {
    transition: scale .3s;
}

.div-boton-escuchar-ahora:hover {
    scale: 110%;
    transition: scale .3s;
}

/* SECCION UNETE */

.unete {
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    height: 60vh;
    background-image: url("./assets/unete.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.text-unete {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
}

.div-title-unete {

    font-family: 'Unbounded', cursive;
    padding-right: 50px;
    font-size: 2em;
    color: #ffffff;
    width: 35%;
    margin-left: 80px;
}

.div-subtitle-unete {
    font-size: 1.2em;
    padding-right: 20px;
    color: #ffffff;
    width: 30%;


}

.subtitle-unete {
    font-weight: 300;
}

.boton-aprende-como {
    width: 200px;
    height: 40px;
    padding: 0px;
    margin: 0 0px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(7px);
    border: 1px solid #ffffff;
    border-radius: 70px;
    text-decoration: none;
    color: white;
    transition: background-color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.boton-aprende-como:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    transition: background-color .3s;
}

.div-boton-aprende-como {
    transition: scale .3s;
}

.div-boton-aprende-como:hover {
    scale: 110%;
    transition: scale .3s;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400m 'GRAD'0,
        'opsz'48;
    margin-left: 5px;
}

/* SECCION PLAYLIST */

.playlist {
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    height: 60vh;
    background-image: url("./assets/playlist.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-playlist {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);

}

.div-title-playlist {

    font-family: 'Unbounded', cursive;
    font-size: 2em;
    color: #ffffff;
    width: 50%;
    margin-left: 40px;
}

.boton-spotify {
    width: 100%;
    height: 40px;
    padding: 0px;
    margin: 0 0px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(7px);
    border: 1px solid #ffffff;
    border-radius: 70px;
    text-decoration: none;
    color: white;
    transition: background-color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.boton-spotify:hover {
    background-color: #1DB954;
    transition: background-color .3s;
}

.div-boton-spotify {
    transition: scale .3s;
    margin-bottom: 30px;
}

.div-boton-spotify:hover {
    scale: 110%;
    transition: scale .3s;
}

.boton-youtube {
    width: 100%;
    height: 40px;
    padding: 0px;
    margin: 0 0px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(7px);
    border: 1px solid #ffffff;
    border-radius: 70px;
    text-decoration: none;
    color: white;
    transition: background-color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.boton-youtube:hover {
    background-color: #c4302b;
    transition: background-color .3s;
}

.div-boton-youtube {
    transition: scale .3s;
}

.div-boton-youtube:hover {
    scale: 110%;
    transition: scale .3s;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400m 'GRAD'0,
        'opsz'48;
    margin-left: 5px;
}

.icon {
    height: 20px;
    margin-right: 10px;

}

.botones-playlist {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px;
    font-size: 1.2em
}


/* SECCION ASISTIR */

.asistir {
    padding: 0px;
    margin-top: 0px;
    width: 100vw;
    height: 60vh;
    background-image: url("./assets/asistir.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-asistir {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);

}

.div-title-asistir {

    font-family: 'Unbounded', cursive;
    font-size: 2em;
    color: #ffffff;
    width: 50%;
    margin-left: 40px;
}

.boton-facebook {
    width: 100%;
    height: 40px;
    padding: 0px;
    margin: 0 0px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(7px);
    border: 1px solid #ffffff;
    border-radius: 70px;
    text-decoration: none;
    color: white;
    transition: background-color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.boton-facebook:hover {
    background-color: #3b5998;
    transition: background-color .3s;
}

.div-boton-facebook {
    transition: scale .3s;
}

.div-boton-facebook:hover {
    scale: 110%;
    transition: scale .3s;
}

.icon {
    height: 20px;
    margin-right: 10px;
}

.botones-asistir {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px;
    font-size: 1.2em;
}

/* SECCION DONACIONES */

.donaciones {
    padding: 20px 0;
    margin-top: 0px;
    width: 90%;
    height: 50vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text-donaciones {
    width: 50vw;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.div-title-donaciones {

    font-family: 'Unbounded', cursive;
    font-size: 2em;
    color: #ffffff;
    width: 90%;
}

.icon-pse {
    height: 70px;
    margin-right: 10px;

}

.boton-pse {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 134, 189);
    background: linear-gradient(135deg, rgba(0, 134, 189, 0.6026785714285714) 0%, rgba(0, 93, 0, 0.5970763305322129) 100%);
    backdrop-filter: blur(7px);
    border: 1px solid #ffffff;
    border-radius: 70px;
    text-decoration: none;
    color: white;
    transition: background-color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.boton-pse:hover {
    background-color: green;
    transition: background-color .3s;
}

.div-boton-pse {
    transition: scale .3s;
}

.div-boton-pse:hover {
    scale: 110%;
    transition: scale .3s;
}

p {
    color: white;
}

.text-donaciones-p {
    font-size: 1.3em;
    font-weight: 300;

}

.text-fotos {
    font-size: 1em;
    font-weight: 300;
}

/* SECCION FOOTER */

.footer {
    padding: 10px;
    margin-top: 0px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.div-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.div-ubicacion {
    display: flex;
    flex-direction: row;
}

.logo-footer {
    width: 150px;
    padding-bottom: 5px;
}

.text-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.text-direccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-footer {
    color: white;
    text-decoration: none;
    text-transform: none;
    text-emphasis: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 5px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.direccion {
    padding-right: 5px;
}

.como-llegar {
    padding-left: 5px;
}

.boton-como-llegar {
    color: white;
    transition: opacity .3s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    opacity: 100%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.boton-como-llegar:hover {
    opacity: 75%;
    transition: background-color .3s;
}

.botones-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.boton-pse-footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(7px);
    border: 1px solid #ffffff;
    border-radius: 70px;
    text-decoration: none;
    color: white;
    transition: background-color .3s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    padding: 0 3px;
}

.boton-pse-footer:hover {
    color: black;
    background-color: white;
    transition: background-color .3s;
}

.div-boton-pse-footer {
    transition: scale .3s;
}

.div-boton-pse-footer:hover {
    scale: 110%;
    transition: scale .3s;
}


.boton-aprende-como-footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(7px);
    border: 1px solid #ffffff;
    border-radius: 70px;
    text-decoration: none;
    color: white;
    transition: background-color .3s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    padding: 0 3px;
}

.boton-aprende-como-footer:hover {
    color: black;
    background-color: white;
    transition: background-color .3s;
}

.div-boton-aprende-como-footer {
    transition: scale .3s;
}

.div-boton-aprende-como-footer:hover {
    scale: 110%;
    transition: scale .3s;
}

.boton1-footer {
    margin-right: 30px;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo-rrss {
    width: 25px;
    height: 25px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(7px);
    border-radius: 50%;
    transition: background-color .3s;
    transition: scale .3s;
    display: flex;
    padding: 5px;
}

.logo-rrss:hover {
    background: rgb(0, 134, 189);
    background: linear-gradient(135deg, rgba(0, 134, 189, 0.6026785714285714) 0%, rgba(0, 93, 0, 0.5970763305322129) 100%);
    transition: background-color .3s;
    scale: 120%;
    transition: scale .3s
}


.img-rrss {
    width: 100%;
    scale: 80%;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 8px;
}

body::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 0px solid #f1f2f3;
    transition: background-color .3s;
}

body::-webkit-scrollbar-thumb:hover {
    transition: background-color .3s;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border: 0px solid #f1f2f3;

}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* RESPONSIVE */

@media (min-width: 861px) {
    .hamburger {
        display: none;
    }

    .menu {
        display: flex;

    }
}

@media (max-width: 860px) {

    .menu {
        display: none;
        position: relative;
        max-height: 0;
        transition: max-height 1s ease-out;


    }

    .hamburger:hover {
        opacity: 75%;
        transition: opacity 0.5s;

    }

    .menu.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 66px;
        width: 90%;
        z-index: 1;
        padding: 20px;
        align-items: center;
        max-height: 500px;
        transition: max-height 1s ease-out;
        border-radius: 0 0 20px 20px;
        background-color: rgba(0, 0, 0, 0.8);

    }

    .menu.open li {
        margin-bottom: 10px;
        padding: 15px;
    }

    .nav-link {
        padding: 3px 0px;
    }

    .botones-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
    }
}

@media (max-width: 780px) {
    .title {
        font-size: 3em;
    }

    .ult-serie,
    .ult-podcast {
        font-size: 1.5em;
    }

    .title-serie,
    .title-podcast {
        font-size: 2em;
    }

    .text-unete,
    .text-playlist,
    .text-asistir,
    .text-donaciones {
        font-size: 0.85em;
    }

    .p-footer {
        flex-direction: column;
    }

    .como-llegar {
        padding: 0;
    }

    .boton-pse {
        font-size: 1em;
    }

    .div-boton-pse:hover {
        scale: 105%
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 2em;
    }

    .boton-pse-footer,
    .boton-aprende-como-footer {
        padding-left: 15px;
        justify-content: flex-start;
        width: 200px;
    }

    .unete,
    .text-unete,
    .playlist,
    .text-playlist,
    .asistir,
    .text-asistir,
    .donaciones {
        height: 25vh;
    }

    .ult-serie,
    .ult-podcast {
        font-size: 0.75em;
    }

    .title-serie,
    .title-podcast {
        font-size: 1em;
    }

    .boton-ver-ahora {
        font-size: 0.75em;
    }

    .boton-escuchar-ahora {
        font-size: 0.5em;
    }

    .text-unete,
    .text-playlist,
    .text-asistir,
    .text-donaciones {
        font-size: 0.5em;
    }

    .botones-footer {
        display: none;
    }
}